<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<%= render 'layouts/stylesheets' %>
	<%= content_for?(:stylesheet) ? yield(:stylesheet) : "" %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js' %>
	<%= content_for?(:javascript) ? yield(:javascript) : "" %>
	<%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/sitebar' %>
<%= render 'layouts/header' %>
<div id="page">

	<div id="action_links">
	<%= yield :action_links %>
	<% if current_user %>
	Logged in as <%= current_user.name %>
	<%= link_to 'Logout', logout_path %>
	<% end %>
	</div>

	<%= breadcrumbs %>

	<div id="content">
<%= content_for?(:content) ? content_block(yield(:content)) : yield %>
	</div>	
</div>

<%= render 'layouts/footer' %>
<%= content_for?(:tracker) ? yield(:tracker) : render(:partial=>"layouts/default/tracker") %>

<!--
<div id="container">

<div id="header">
	<div id="action_links">
	<%= yield :action_links %>
	<% if current_user %>
	Logged in as <%= current_user.name %>
	<%= link_to 'Logout', logout_path %>
	<% end %>
	</div>
	<h1>
		<%= link_to(if ENV['LOGO'] then image_tag(ENV['LOGO']) else (ENV['TITLE'] || "Photos") end, root_path) %>
	</h1>
	<%= form_tag albums_path, { :id => :search } do -%>
		<input type="text" name="q" class="textfield"/>
		<input type="submit" value="Search" class="button" />
	<% end -%>
    <hr class="seperator" />
	<%= breadcrumbs %>
</div>

<div id="content">
	<p id="notice"><%= flash[:notice] %></p>
	<%= yield %>
</div>

<div id="footer">
  
  <hr class="seperator" />
  .
</div>
</div>
-->
<%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'balder' %>
<%= yield :javascript %>
</body>
</html>
